body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

canvas {
  border: 1px solid #ccc;
  margin-top: 20px;
}
.reset-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: red;
  transition: transform 0.3s ease;
  right: 700px;
  top: 350px;
}

.reset-icon:hover {
  transform: rotate(360deg);
}

.range-controls {
  max-width: 400px;
  margin: 0 auto;
}

.range-controls div {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.range-controls label {
  min-width: 100px;
  text-align: right;
}

.range-controls input[type="range"] {
  flex: 1;
}

.range-controls span {
  min-width: 40px;
  text-align: left;
}
